<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <header>{{ template "nav" . }}</header>
    <main>
      <section>
        <h2>bug status</h2>
        <article>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quam nisi, scelerisque quis tellus vel, venenatis accumsan felis. Duis non lacus id odio condimentum porta.</article>
        <article>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quam nisi, scelerisque quis tellus vel, venenatis accumsan felis. Duis non lacus id odio condimentum porta.</article>
        <article>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quam nisi, scelerisque quis tellus vel, venenatis accumsan felis. Duis non lacus id odio condimentum porta.</article>
        <article>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quam nisi, scelerisque quis tellus vel, venenatis accumsan felis. Duis non lacus id odio condimentum porta.</article>
      </section>
    </main>
    <aside></aside>
    {{ template "footer" .}}
  </body>
</html>
