<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <header>{{ template "nav" . }}</header>
    <main>
      <section>
        <h2>bug status</h2>
        <article>
          <h3>open/closed</h3>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quam nisi, scelerisque quis tellus vel, venenatis
          accumsan felis. Duis non lacus id odio condimentum porta.
          <div id="graph-open-closed" ></div>
        </article>
        <article>
          <h3>find rate</h3>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quam nisi, scelerisque quis tellus vel, venenatis
          accumsan felis. Duis non lacus id odio condimentum porta.
          <div id="graph-find-rate" ></div>
        </article>
        <article>
          <h3>fix rate</h3>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quam nisi, scelerisque quis tellus vel, venenatis
          accumsan felis. Duis non lacus id odio condimentum porta.
          <div id="graph-fix-rate" ></div>
        </article>
        <article>
          <h3>by status</h3>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quam nisi, scelerisque quis tellus vel, venenatis
          accumsan felis. Duis non lacus id odio condimentum porta.
          <div id="graph-by-status" ></div>
        </article>
      </section>
    </main>
    <aside></aside>
    {{ template "footer" .}}
  </body>
</html>
