<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="css/rgr.css" rel="stylesheet" type="text/css" />
    <title>Home Page</title>
  </head>
  <body>
    <header>
      <div id="logo">Rarify</div>
      {{ template "nav" . }}
    </header>
    <main>
      <section id="pageTitle">
        <h2>bug status</h2>
        <label for="project">Select a project</label>
        <select>
          <option value="netscape">Netscape Navigator</option>
          <option value="phoenix">Mozilla Phoenix</option>
          <option value="aol">AOL Navigator</option>
        </select>
      </section>
      <section id="reports">
        <article id="report-open-closed">
          <h3>open/closed</h3>
          <div id="graph-open-closed" class="graph"></div>
        </article>
        <article id="report-find-rate">
          <h3>find rate</h3>
          <div id="graph-find-rate" class="graph"></div>
        </article>
        <article id="report-fix-rate">
          <h3>fix rate</h3>
          <div id="graph-fix-rate" class="graph"></div>
        </article>
        <article id="report-by-status">
          <h3>by status</h3>
          <div id="graph-by-status" class="graph"></div>
        </article>
      </section>
    </main>
    <aside></aside>
    {{ template "footer" .}}
  </body>
</html>
